<h1 class="page-header">
  Menu
  <a [routerLink]="['/admin/menu/add']"  class="btn btn-primary pull-right">Dodaj nowy</a>
</h1>

<router-outlet></router-outlet>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="col-sm-1">#</th>
      <th>Etykieta</th>
      <th class="col-sm-2">Link</th>
      <th class="col-sm-1">Nowe okno</th>
      <th class="col-sm-2">Rodzic</th>
      <th class="col-sm-1">Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of menuItems; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.href }}</td>
      <td>
        <div class="checkbox input-sm">
          <label>
            <input type="checkbox" [(ngModel)]="item.isNewTab">
          </label>
        </div>
      </td>
      <td>
        <select [(ngModel)]="item.parent_id" class="form-control input-sm">
          <option *ngFor="let subItem of menuItems" value="{{subItem.id}}" [disabled]="item.id === subItem.id">
            {{subItem.name}}
          </option>
        </select>
      </td>
      <td>
        <fieldset #buttons>
          <button (click)="onDelete(item.id, buttons)" class="btn btn-sm btn-danger glyphicon glyphicon-trash" title="Usuń"></button>
        </fieldset>
      </td>
    </tr>
    </tbody>
  </table>
</div>
