<h1 class="page-header">Dodaj news</h1>
<form (ngSubmit)="onSubmit()" #addNews="ngForm">
  <fieldset [disabled]="!active">
    <div class="form-group" [ngClass]="{'has-error': error}">
      <label for="title">Tytuł</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł" [(ngModel)]="news.title" required>
    </div>
    <div class="form-group" [ngClass]="{'has-error': error}">
      <label for="content">Treść</label>
      <text-editor id="content" [(content)]="news.content" minHeight="200"></text-editor>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-lg btn-primary" [disabled]="!addNews.form.valid">Dodaj</button>
    </div>
  </fieldset>
</form>
