#main-menu {
  section {
    h1:first-child {

    }

    ul {
      padding-left: 0;

      li {
        list-style: none;

        li {
          padding-left: 1em;
        }

        &:before {
          content: '➤';
        }
      }
    }
  }
}

side-menu .active {
  font-weight: bold;
}

.checkbox.input-sm {
  margin: 0;
}

.article {
  text-align: justify;

  .icon {
    width: 22em;
    margin: .3em .6em .3em 0;
  }
}

.pointer-move {
  cursor: move;
}

.icon-preview {
  text-align: center;
  margin: 1em;

  img {
    max-width: 400px;
  }
}

#alertContainer {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;

  .alert {
    max-width: 600px;
    margin: 1em auto;
  }
}
