.app-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loader {
    width: 200px;
    height: 200px;
    border: 8px solid $loader-circle-bg;
    border-top-color: $loader-circle;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
